<!DOCTYPE html>
<html lang="{% if blogBase['i18n']=='CN' %}zh-CN{% elif blogBase['i18n']=='RU' %}ru{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{{ blogBase['faviconUrl'] }}">
    <link rel="stylesheet" href="/css/theme.css">
    {% block head %}{% endblock %}
</head>
<body class="max-w-4xl mx-auto px-4 py-8">
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% include 'footer.html' %}</div>
    <script src="/js/theme.js" defer></script>
    {% block script %}{% endblock %}
</body>
</html>
